// COLORS
$c-red: rgb(241, 39, 17);
$c-blue-dark: rgb(40, 60, 134);
$c-blue-light: rgb(76, 162, 205);
$c-green-light: rgb(103, 178, 111);
$c-green: rgb(47, 133, 90);
$c-gray: rgb(119, 119, 119);
$c-shadow: rgb(0, 0, 0);

// NUMERIC MEASURES
$n-borderrad: 3px;